# Local .terraform directories
**/.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude .terraform.lock.hcl (created by Terraform 0.14+)
.terraform.lock.hcl

# Ignore CLI configuration files
terraform.rc
terragrunt.hcl

# Log files
*.log

# Exclude .terraform provider plugins
**/terraform-provider-*

# Exclude any .tfvars files that are in the working directory
*.tfvars

# Exclude override files as they are usually used to override default values
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do track:
# !example_override.tf

# Include override files you do track
!example_override.tf
